//sass变量
/*=================================================================
  颜色
  =================================================================*/
$body-color: #666;
$white : #fff;
$red : #ff314f;
$black : #000000;
$light-black : #333;
$gray : #797979;
/*=================================================================
  间距
  =================================================================*/
$page-side-padding : 0.3rem;

/*=================================================================
  动画
  =================================================================*/
$transition-time : 0.28s;
